#wrapper.section.overflow-hidden.position-relative
  / Sidebar Wrapper Start
  = render "users/panel/sidebar"
  .page-content-wrapper.p-0
    -# .section.section-padding
    .sectiond
      .containerd
        .register-login-wrapper
          .row.justify-content-center
            .col-lg-6.col-xl-10
              .register-login-form
                %h3.title
                  Edytuj
                  %span oferte
                  %br
                = render 'form'
                %br
                = link_to 'Powrót', users_food_provider_offers_path
