.section.section-padding
  .container
    .register-login-wrapper
      .row.justify-content-center
        .col-lg-6.col-xl-10
          .register-login-form
            %h3.title
              Edytuj
              %span oferte
              %br
            = render 'form'
            %br
            = link_to 'Powrót', users_panel_index_path
