#wrapper.section.overflow-hidden.position-relative
  = render "users/panel/sidebar"
  .page-content-wrapper.p-0
    -# .section.section-padding
    .section
      .container
        .register-login-wrapper
          .row.justify-content-center
            .col-lg-6.col-xl-10
              .register-login-form
                %h3.title
                  Edytuj
                  %span oferte
                  %br
                = render 'form'
                %br
                = link_to 'Powrót', users_food_providers_offers_path, class: "btn btn-light btn-hover-dark"
