.section.page-banner-section{style: "background-image: url(#{asset_path('page-banner.jpg')});"}
  .container
    .page-banner-content
      %h2.page-title Wybierz profil Twojego konta
      %ul.breadcrumb
        %li.breadcrumb-item
          %a{href: root_path} Strona główna
        %li.breadcrumb-item Rejestracja
        %li.breadcrumb-item.active Wybierz profil

.section.section-padding
  .container
    .register-login-wrapper
      .row.justify-content-center
        .col-lg-6.col-xl-5
          .register-login-form
            %h3.title
              Dobrze że
              %span jesteś!
              %br

            = render 'form'
