.section.page-banner-section{style: "background-image: url(#{asset_path('page-banner.jpg')});"}
  .container
    .page-banner-content
      %h2.page-title Usupełnij dane lokalu gastronomicznego
      %ul.breadcrumb
        %li.breadcrumb-item
          %a{href: root_path} Strona główna
        %li.breadcrumb-item Rejestracja
        %li.breadcrumb-item.active Twój lokal

.section.section-padding
  .container
    .register-login-wrapper
      .row.justify-content-center
        .col-lg-6.col-xl-10
          .register-login-form
            %h3.title
              Dane
              %span lokalu
              %br

            = render 'form'

-# = link_to 'Back', food_providers_path
