.main-wrapper
  / Header Section Start
  .header.section
    / Header Main Start
    .header-main
      .container
        / Header Wrapper Start
        .header-wrapper
          / Header Logo Start
          .header-logo
            %a{:href => root_path}
              %img{:alt => "Logo", :src => asset_path("logo.png")}/
          / Header Logo End
          / Header Menu Start
          .header-menu.d-none.d-lg-flex
            %ul.nav-menu
              %li
                %a{:href => home_index_path} Strona główna
              %li
                %a{ href: new_contact_path } Kontakt
              %li
                %a.active{:href => faq_index_path} FAQ
            .header-btn
              - if current_user
                %a.btn.btn-success.btn-hover-primary{ href: users_panel_index_path } Panel
              - else
                %a.btn.btn-success.btn-hover-primary{ href: new_user_registration_path } Dołącz
                %a.btn.btn-secondary.btn-hover-primary{ href: new_user_session_path } Zaloguj się
          .header-toggle.d-lg-none
            - if current_user
              %a.btn.btn-success.btn-hover-primary{ href: users_panel_index_path } Panel
            - else
              %a.btn.btn-success.btn-hover-primary{ href: new_user_registration_path } Dołącz
              %a.btn.btn-secondary.btn-hover-primary{ href: new_user_session_path } Zaloguj się


          / Header Toggle End
        / Header Wrapper End
    / Header Main End
  / Header Section End
  / Mobile Menu Start
  .mobile-menu
    / Menu Close Start
    %a.menu-close{:href => "javascript:void(0)"}
      %i.icofont-close-line
    / Menu Close End
    / Mobile Menu Start
    .mobile-menu-items
      %ul.nav-menu
        %li
          %a.active{:href => root_path} Strona główna
        %li
          %a{:href => "about.html"} About Us
        %li
          %a{:href => "#"} All Course
          %ul.sub-menu
            %li
              %a{:href => "courses.html"} Courses
            %li
              %a{:href => "my-courses.html"} My Courses
            %li
              %a{:href => "#"} Courses Details
              %ul.sub-menu
                %li
                  %a{:href => "courses-details-left-sidebar.html"} Courses Details Left Sidebar
                %li
                  %a{:href => "courses-details-right-sidebar.html"} Courses Details Right Sidebar
        %li
          %a{:href => "#"} Pages
          %ul.sub-menu
            %li
              %a{:href => "after-enroll.html"} After Enroll
            %li
              %a{:href => "courses-admin.html"} Instructor Dashboard (Course List)
            %li
              %a{:href => "overview.html"} Instructor Dashboard (Performance)
            %li
              %a{:href => "students.html"} Students
            %li
              %a{:href => "reviews.html"} Reviews
            %li
              %a{:href => "engagement.html"} Course engagement
            %li
              %a{:href => "traffic-conversion.html"} Traffic & conversion
            %li
              %a{:href => "messages.html"} Messages
            %li
              %a{:href => "register.html"} Register
            %li
              %a{:href => "login.html"} Login
            %li
              %a{:href => faq_index_path} FAQ
            %li
              %a{:href => "404-error.html"} 404 Error
        %li
          %a{:href => "#"} Blog
          %ul.sub-menu
            %li
              %a{:href => "#"} Blog
              %ul.sub-menu
                %li
                  %a{:href => "blog-grid.html"} Blog Grid
                %li
                  %a{:href => "blog-left-sidebar.html"} Blog Left Sidebar
                %li
                  %a{:href => "blog-right-sidebar.html"} Blog Right Sidebar
            %li
              %a{:href => "#"} Blog Details
              %ul.sub-menu
                %li
                  %a{:href => "blog-details-left-sidebar.html"} Blog Details Left Sidebar
                %li
                  %a{:href => "blog-details-right-sidebar.html"} Blog Details Right Sidebar
        %li
          %a{:href => "contact.html"} Contact
    / Mobile Menu End
  / Mobile Menu End
  / Overlay Start
  .overlay
  / Overlay End
  / Page banner Section Start
  .section.page-banner-section{style: "background-image: url(#{asset_path('page-banner.jpg')});"}
    .container
      / Page banner Section Start
      .page-banner-content
        %h2.page-title FAQ
        %ul.breadcrumb
          %li.breadcrumb-item
            %a{href: home_index_path} Strona główna
          %li.breadcrumb-item.active FAQ
      / Page banner Section End
  / Page banner Section End
  / FAQ Section Start
  .section.section-padding
    .container
      / FAQ Wrapper Start
      .faq-wrapper
        / Section Title Start
        .section-title
          %h6.sub-title Pytania i Odpowiedzi
          %h2.main-title Znajdź odpowiedź na swoje pytanie
        / Section Title End
        .row.justify-content-center
          .col-lg-9
            / FAQ Accordion Start
            .faq-accordion
              #accordionFaq.accordion
                .accordion-item
                  %button{"data-bs-target" => "#collapseOne", "data-bs-toggle" => "collapse", type: "button"}
                    Jak mogę oddać nadwyżkę jedzenia?
                  #collapseOne.accordion-collapse.collapse.show{"data-bs-parent" => "#accordionFaq"}
                    .accordion-body
                      %p Możesz dodać ofertę przez naszą aplikację, a my połączymy Cię z osobami, które tego jedzenia potrzebują.
                      %p Wystarczy, że wypełnisz formularz i określisz, co masz do oddania.
                .accordion-item
                  %button.collapsed{"data-bs-target" => "#collapseTwo", "data-bs-toggle" => "collapse", type: "button"}
                    Kto może odebrać jedzenie?
                  #collapseTwo.accordion-collapse.collapse{"data-bs-parent" => "#accordionFaq"}
                    .accordion-body
                      %p Jedzenie mogą odebrać osoby potrzebujące, organizacje charytatywne oraz instytucje wspierające walkę z marnowaniem żywności.
                      %p System automatycznie łączy darczyńców z odbiorcami w ich okolicy.
                .accordion-item
                  %button.collapsed{"data-bs-target" => "#collapseThree", "data-bs-toggle" => "collapse", type: "button"}
                    Czy odbiór jedzenia jest darmowy?
                  #collapseThree.accordion-collapse.collapse{"data-bs-parent" => "#accordionFaq"}
                    .accordion-body
                      %p Tak, nasza platforma działa non-profit i umożliwia przekazywanie jedzenia za darmo.
                .accordion-item
                  %button.collapsed{"data-bs-target" => "#collapseFour", "data-bs-toggle" => "collapse", type: "button"}
                    Jakie produkty mogę oddać?
                  #collapseFour.accordion-collapse.collapse{"data-bs-parent" => "#accordionFaq"}
                    .accordion-body
                      %p Możesz przekazać świeże i nadające się do spożycia produkty spożywcze, które nie przekroczyły terminu ważności.
                .accordion-item
                  %button.collapsed{"data-bs-target" => "#collapseFive", "data-bs-toggle" => "collapse", type: "button"}
                    Jak mogę śledzić status mojej oferty?
                  #collapseFive.accordion-collapse.collapse{"data-bs-parent" => "#accordionFaq"}
                    .accordion-body
                      %p Wystarczy zalogować się na swoje konto i przejść do sekcji „Moje oferty”. Tam znajdziesz informacje o statusie ogłoszenia i ewentualnych rezerwacjach.
            / FAQ Accordion End
            / FAQ Button Start
            .faq-btn
              %a.btn.btn-primary.btn-hover-secondary{href: new_contact_path} Masz jeszcze jakieś pytania?
            / FAQ Button End
      / FAQ Wrapper End
  / FAQ Section End
  / Download App Start
  / Download Section Start
  .section.section-padding.download-section
    %img.shape-01{alt: "Shape", src: asset_path("shape/shape-7.png")}/
    %img.shape-02{alt: "Shape", src: asset_path("shape/shape-8.png")}/
    .container
      / Download App Wrapper Start
      .download-app-wrapper
        / Section Title Start
        .section-title.shape-none
          %h6.sub-title Aplikacja do ratowania żywności już wkrótce dostępna
          %h2.main-title Pobierz naszą aplikację i zacznij ratować żywność w każdej chwili.
        / Section Title End
        / Download App Button End
        .download-app-btn
          %ul.app-btn
            %li
              %a{href: "#"}
                %img{alt: "Play Store", src: asset_path("play-store.jpg")}/
            %li
              %a{href: "#"}
                %img{alt: "App Store", src: asset_path("app-store.jpg")}/
        / Download App Button End
      / Download App Wrapper End
  / Download App End
  