-# %nav.navbar.fixed-bottom.navbar-light.bg-light
-#   .container-fluid
-#     %a.navbar-brand{:href => "#"} Fixed bottom

.section.footer-section
  / Footer Widget Section Start
  .footer-widget-section.section-padding
    %img.shape-01.animation-rotate{:alt => "Shape", src: asset_path('shape/shape-9.png')}
    .container
      / Footer Widget Wrapper Start
      .footer-widget-wrapper
        .row
          .col-lg-4
            / Footer Widget Start
            .footer-widget
              %h3.footer-widget-title Zapisz się do Newslettera
              .widget-newsletter
                %p Dołącz do naszej społeczności i bądź na bieżąco z najnowszymi ofertami oraz poradami dotyczącymi ratowania żywności. Subskrybuj nasz newsletter i nie przegap żadnej informacji!
                .newsletter-form
                  %form{:action => "#"}
                    %input{:placeholder => "Wprowadź swój email", :type => "text"}/
                    %button.btn.btn-primary.btn-hover-white Zapisz się teraz!
            / Footer Widget End
          .col-lg-8
            / Footer Widget Start
            .widget-wrapper
              / Footer Widget Start
              .footer-widget
                %h3.footer-widget-title Dobre inicjatywy
                %ul.widget-link
                  %li
                    %a{:href => "https://www.feedingamerica.org"} Walka z Głodem
                  %li
                    %a{:href => "https://www.realjunkfoodproject.org"} Walka z Marnowaniem Żywności
                  %li
                    %a{:href => "https://karma.life"} Ratowanie Nadmiaru Żywności
                  %li
                    %a{:href => "https://foodrescue.us"} Łączenie Darczyńców i Organizacji
                  %li
                    %a{:href => "https://www.wfp.org"} Walka z Głodem na Świecie

              / Footer Widget End
              / Footer Widget Start
              .footer-widget
                %h3.footer-widget-title Linki pomocnicze
                %ul.widget-link
                  %li
                    %a{:href => "#"} Polityka prywatności
                  %li
                    %a{:href => "#"} Dyskusja
                  %li
                    %a{:href => "#"} Regulamin
                  %li
                    %a{:href => "#"} Obsługa klienta
                  %li
                    %a{:href => "#"} FAQ
                  %li
                    %a{:href => "#"} Zajęcia online
              / Footer Widget End
              / Footer Widget Start
              .footer-widget
                %h3.footer-widget-title Godziny otwarcia
                %ul.widget-link
                  %li
                    %a{:href => "#"} Pon-Pt: 9:00 – 18:00
                  %li
                    %a{:href => "#"} Sobota: 9:00 – 16:00
                  %li
                    %a{:href => "#"} Niedziela: Zamknięte
                .widget-location
                  %h3.footer-widget-title Lokalizacja
                  %p
                    Pałac Kultury i Nauki, Plac Defilad 1
                    %br/
                    00-901 Warszawa, Polska
              / Footer Widget End
            / Footer Widget End
      / Footer Widget Wrapper End
    %img.shape-02.animation-rotate{alt: "Shape", src: asset_path('shape/shape-9.png')}/
  / Footer Widget Section End
  / Footer Copyright Section Start
  .footer-copyright
    .container
      / Copyright Wrapper Start
      .copyright-wrapper
        .copyright-text
          %p
            ="© #{Time.current.year}"
            %span SharePlate
            Made with
            %i.icofont-heart-alt
            by
            %a{:href => "https://github.com/Levii01", :target => "_blank"} Levi01
        .copyright-link
          %a{:href => "#"} Warunki korzystania
          %a{:href => "#"} Polityka prywatności
          %a{:href => "#"} Mapa strony
          %a{:href => "#"} Bezpieczeństwo
      / Copyright Wrapper End
  / Footer Copyright Section End
